# Step 1 - REPRESENTING RECORDS

If you are going to store records in a database, the first step is probably deciding what those records will look like.
There are a variety of ways to represent information about people in the Python language.
Built-in object types such as lists and dictionaries are often sufficient, especially if we do nont intially care about processing the data we store.

# Using Lists

Lists can collect attributes about people in a positionally ordered way.

In [4]:
bob = ['Bob Smith', 42, 30000, 'software'  ]
sue = ['Sue Jones', 45, 40000, 'hardware']

We have made two records to represent two people, Bob and Sue. Each record is a list of four properties: name, age, pay, and job field.
To access these fields, we simply index by postion; the result is in parenthesis here and it is a tuple of two results

In [5]:
bob[0], sue[2]     #fetch name, pay

('Bob Smith', 40000)

Processing records is easy with this representation. We just use list operations.
For example, we can extract the last name by splitting the name field on the blanks and grabbing the last part.

In [6]:
bob[0].split()[-1]

'Smith'

We can also give someone a raise by changing their list in-place

In [7]:
sue[2]*=1.25

In [8]:
sue

['Sue Jones', 45, 50000.0, 'hardware']

A DATABASE LIST

What we have really coded so far is just two variables, not a database; to collect Bob and Sue into a unit, we might simply stuff them into another list.

In [9]:
people = [bob, sue]
for person in people:
    print(person)

['Bob Smith', 42, 30000, 'software']
['Sue Jones', 45, 50000.0, 'hardware']

Now the people list represents our database.
We can detch specific records by their relative positions and process them one at a time, in loops.

In [10]:
people[1][0]

'Sue Jones'

In [12]:

for person in people:
    print(person[0].split()[-1])  #print last names
    person[2]*=1.20 #give each person a 20% raise

Smith
Jones

In [13]:
for person in people: print (person[2])

36000.0
60000.0

Now that we have a list, we can collect values from records using Python's more powerful iteration tools such as comprehensions, maps and generator expressions:

In [14]:
pays = [person[2] for person in people]  #collect all pay
pays

[36000.0, 60000.0]

In [15]:
pays = map((lambda x: x[2]), people) #map is a generator
list(pays)

[36000.0, 60000.0]

In [16]:
sum(person[2] for person in people) #generator expression,sum built-in

96000.0

To add a record to the database, the usual list operations, such as append and extend will suffice:

In [17]:
people.append(['Tom', 50, 0, None])
len(people)

3

Lists work for our database, and they might be sufficient for some programs, but they suffer a few major flaws.
For onr thing, Bob and Sue, at this point are just fleeting objects in memory that will dissapear once we exit Python.
For another, every time we want to extract a last name or give a raise, we will have to repeat the kinds of code we have just typed and that could be a problem if we ever change the way those operations work. We may have to update many places in our cide.
We will address these issues in a few moments.

FIELD LABELS

Perhaps more fundamentally, accessing fields by position requires us to memorize what each postion name means: if you see a piece of code indexing on magic position 2, how can you tell it is extracting a pay?
In terms of understanding the code, it might be better to associate a field anme with a field value.

We might tey to associate names with relative positions using Python range built-in function, which generates successive integers when used in iteration contexts.

In [18]:
NAME, AGE, PAY = range(3)
bob = ['Bob Smith', 42, 10000]
bob[NAME]

'Bob Smith'

In [19]:
PAY, bob[PAY]

(2, 10000)

This addresses readability: the three uppercase variables essentially become field names. 
This makes our code dependent on the field position assignments, though er have to remember the range assignments whenever we change record structure.
Because they are not directly associated, the names and the records may become out of  sync over time and require a maintenance step.

Moreover, because the field names are independent variables, there is no direct maping from a record list back to it's field's names.
A raw record list for instance provides no way to label it's values with field names in a formatted display.

We might also try using lists of tuples, where the tuples record both a field name and a value; better yet. a list of lists would allow for updates(tuples are immutable

Here is what the idea translates to, with slightly simpler records:

In [20]:
bob = [['name', 'Bob Smith'], ['age', 42], ['pay', 10000]]
sue = [['name', 'Sue Jones'], ['age', 45], ['pay', 20000]]
people = [bob, sue]

This really doesn't fix the problem though because we still have to index by position in order to fetch fields:

In [21]:
for person in people:
    print(person[0][1], person[2][1]) # name, pay

('Bob Smith', 10000)
('Sue Jones', 20000)

In [22]:
[person[0][1] for person in people]  #collect names

['Bob Smith', 'Sue Jones']

In [24]:
for person in people:
    print(person[0][1].split()[-1]) #give last names
    person[2][1]*=1.10  #give a 10% raise

Smith
Jones

In [25]:
for person in people: print(person[2])

['pay', 11000.0]
['pay', 22000.0]

All we have really done here id to add an extra level of positional indexing.
To do better, we might inspect field names in loops to find the one we want .
The loop uses tuple assignment here to unpack the name/value pairs

In [26]:
for person in people:
    for (name, value) in person:
        if name == 'name': print(value)  #find a specific field

Bob Smith
Sue Jones

Better yet, we can code a fetcher function to do the job for us:

In [27]:
def field(record, label):
    for (fname, fvalue) in record:
        if fname == label:  find any field by name
            return fvalue

In [28]:
field(bob, 'name')

'Bob Smith'

In [30]:
field(sue, 'pay')

22000.0

In [31]:
for rec in people:
    print(field(rec, 'age'))  #print all ages

42
45

# Using Dictionaries

There are more efficient and convenient ways to associate property names and values.
The built-in dictionary object is a natural

In [32]:
bob = {'name': 'Bob Smith', 'age': 42, 'pay': 30000, 'job': 'dev'}
sue = {'name': 'Sue Jones', 'age': 45, 'pay': 40000, 'job': 'hdw'}

Bob and Sue are objects that map field anems to values automatically and they make our code more understandable and meaningful.
We don't have to remember what a numeric offset means and we let Python search for the value associated with a field's name with it's efficient dictionary indexing.

In [33]:
bob['name'], sue['pay']

('Bob Smith', 40000)

In [35]:
bob['name'].split()[-1]

'Smith'

In [38]:
sue['pay']*=1.10
sue['pay']

48400.00000000001

OTHER WAYS TO USE DICTIONARIES

Dictionaries turn out to be useful in Python Programming that there exists even more vonvenient ways to code them than the traditional literal syntax shown earlier

In [39]:
sue = {}
sue['name'] = 'Sue Jones'
sue['age'] = 45
sue['Pay'] = 40000
sue['job'] = 'hdw'
sue

{'Pay': 40000, 'age': 45, 'job': 'hdw', 'name': 'Sue Jones'}

LISTS OF DICTIONARIES

Regardless of how we code them, we still need to collect our dictionary-based records into a database; a list does the trick again as long as we don't require a ccess by key at the top level:

In [40]:
bob

{'age': 42, 'job': 'dev', 'name': 'Bob Smith', 'pay': 30000}

In [47]:
people = [bob, sue]  #reference in a list
for person in people:
    print(person['name'], person['pay'], sep=', ')

SyntaxError: invalid syntax (<ipython-input-47-c330ac870088>, line 3)

Iteration tools work just as well here but we use keys rather than obscure positions

NESTED STRUCTURES

All python compound data types can be nested inside each other .
We can build fairly complex information structures easily - simply type the object's syntax and Python does all the work of building the components linking memory structures and later reclaiming their space.
This is one of the grat advantages of a scripting language such as Python.

The following represents a more structured record by nesting a dictionary, list, tuple isnide another dictionary

In [50]:
bob2 = {'name': {'first': 'Bob', 'last': 'Smith'},
       'age': 42,
       'job': ['software', 'writing'],
       'pay': (40000, 50000)}

Because this record contains nested structures, we simply index twice to go two levels deep:

In [51]:
bob2['name']

{'first': 'Bob', 'last': 'Smith'}

In [52]:
bob2['name']['last']

'Smith'

In [53]:
bob2['pay'][1]

50000

The  name field is another dictionary here so instead of splitting up a string, we simply index to fetch the last name.
Morever, people can have many jobs as well as minimum and maximum pay limits.
In fact, Python becomes a sort of query language in such cases - we can fetch or change nested data with the usual object operations:

In [54]:
for job in bob2['job']: print(job)  #all of bob's jobs

software
writing

In [55]:
bob2['job'][-1]

'writing'

In [56]:
bob2['job'].append('janitor')

In [57]:
bob2

{'age': 42,
 'job': ['software', 'writing', 'janitor'],
 'name': {'first': 'Bob', 'last': 'Smith'},
 'pay': (40000, 50000)}

It is okay to grow the nested list with append because it is really an independent object.
Such nesting can come in handy for more sophisticated applications.

DICTIONARIES OF DICTIONARIES

One last twist on hour people database: we can get a little more mileage out of dictionaries here by using one to represent a database itself.
That is, we can use a dictionary of dictionaries  - the outer dictionary is the databse and the nested dictionaries are records within it.
Rather than a simple list of records, a dictionary-based database allows to store and retrieve records by symbolic key

In [61]:
bob = dict(name='Bob Smith', age = 42, pay=30000, job='dev')
sue=dict(name='Sue Jones', age=45, pay=40000, job='hdw')
bob

{'age': 42, 'job': 'dev', 'name': 'Bob Smith', 'pay': 30000}

In [63]:
db = {}
db['bob'] = bob
db['sue'] = sue

In [64]:
db['bob']['name']

'Bob Smith'

In [65]:
db['sue']['pay'] = 50000

In [66]:
db['sue']['pay']

50000

Notice how the structure allows us to access a record directly instead of searching for it on a loop - we get Bob's name immediately by indexing on key bob
This really is a dictionary of dictionaries , though you wont see all the gory details unless you display the database all at once.
The Python pprint module can help with legibility here

In [74]:
db

{'bob': {'age': 42, 'job': 'dev', 'name': 'Bob Smith', 'pay': 30000},
 'sue': {'age': 45, 'job': 'hdw', 'name': 'Sue Jones', 'pay': 50000}}

In [68]:
import pprint

In [69]:
pprint.pprint(db)

{'bob': {'age': 42, 'job': 'dev', 'name': 'Bob Smith', 'pay': 30000},
 'sue': {'age': 45, 'job': 'hdw', 'name': 'Sue Jones', 'pay': 50000}}

If we still need to step through the database one record at a time, we can now rely on dictionary iterators.

In [73]:
for key in db:
    print(key, '=>', db[key]['name'])

('bob', '=>', 'Bob Smith')
('sue', '=>', 'Sue Jones')

In [71]:
for key in db:
    print(key, '=>', db[key]['pay'])

('bob', '=>', 30000)
('sue', '=>', 50000)

To visit all records, either index by key as you go:

In [75]:
for key in db:
    print(db[key]['name'].split()[-1])
    db[key]['pay']*=1.10

Smith
Jones

or through the dictionary values to access records directly

To add a new record, simpy assign it to a new key; this is just a dictionary, afterall.

In [79]:
db['tom'] = dict(name='Tom', age=50, jobe=None, pay=0)

In [80]:
db['tom']

{'age': 50, 'jobe': None, 'name': 'Tom', 'pay': 0}

In [81]:
db['tom']['name']

'Tom'

In [82]:
list(db.keys())

['bob', 'sue', 'tom']

In [83]:
len(db)

3

In [84]:
[rec['age'] for rec in db.values()]

[42, 45, 50]

In [85]:
[rec['name'] for rec in db.values() if rec['age'] >= 45]

['Sue Jones', 'Tom']

Although our database is still a transient aobject in memory, it turns out that this dictionary of dictionaries format correspodns exactly to a system thta saves objects permanently